[cltl.audio]
sampling_rate: 16000
channels: 1
sample_depth: 2
frame_size: 480

audio_resource: cltl.backend.resource.audio
mic_resource: cltl.backend.resource.microphone

[cltl.video]
resolution: VGA
camera_index: 0
rate: 1

[cltl.backend]
server_audio_url: host.docker.internal
server_image_url: host.docker.internal
storage_url: http://cltl-backend
audio_storage_path: storage/audio
audio_source_buffer: 16
image_storage_path: storage/video
image_cache: 32

[cltl.backend.mic]
topic: cltl.backend.topic.microphone

[cltl.backend.image]
topic: cltl.backend.topic.image
rate: 1

[cltl.backend.tts]
topic: cltl.backend.topic.tts

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2
