[cltl.audio]
sampling_rate: 16000
channels: 1
sample_depth: 2
frame_size: 480

audio_resource: cltl.backend.resource.audio
mic_resource: cltl.backend.resource.microphone

[cltl.backend]
server_url: host.docker.internal
audio_storage_path: /cltl/storage/audio
audio_source_buffer: 16

[cltl.backend.mic]
topic_name: cltl.backend.topic.microphone

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2
